.pokemon-details {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-height: 80vh;
  padding: 30px 0;
}

.pokemon-details-card {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
  width: 600px;
}
.pokemon-details-header {
  display: flex;
  justify-content: center;
  width: 300px;
}

.pokemon-details-image-description {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.selected-image-box {
  border: 2px solid black;
  width: 400px;
}

.selected-image-box img {
  width: 300px;
}
.other-images img {
  width: 50px;
}

.pokemon-type img {
  width: 40px;
}