.main-pokemon {
  background-color: #EF5350;
  padding-top: 100px;
}

.main-pokemon .pokemon-cards-section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#btn-more-pokemon {
  height: 100px;
  width: 100px;
}