header {
  align-items: center;
  background-color: #100B00;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 20vh;
  justify-content: center;
  max-height: 20vh;
  text-align: center;
}

header > a > img {
  margin: auto;
  width: 90%;
}

header > nav {
  align-self: flex-end;
  align-items: center;
  background-color: #1B5CAC;
  color: #ffffff;
  display: flex;
  font-size: x-large;
  font-weight: 600;
  height: 5vh;
  justify-content: center;
  max-height: 5vh;
  padding: 10px 0;
  width: 100%;
}

@media screen and (max-width: 500px) {
  header > a > img {
    width: 70%;
  }
  
  header > nav {
    font-size: medium;
  }
}
