.pokemon-card {
  background-color: #3B341F;
  border: 4px solid #100B00;
  border-radius: 15px;
  color: #fff;
  display: flex;
  height: 350px;
  justify-content: center;
  margin: 10px;
  text-align: center;
  width: 230px;
  overflow: hidden;
}

.pokemon-card-header {
  align-self: flex-start;
  background-color: white !important;
  height: 100px;
  width: 100%;
}

.pokemon-card img {
  width: 150px;
}
