.type-card {
  align-items: space-between;
  background-color: #3B341F;
  border: 4px solid #100B00;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  height: 640px;
  justify-content: center;
  margin: 10px;
  text-align: center;
  width: 300px;
  overflow: hidden;
}


.type-card-header {
  align-items: center;
  align-self: flex-start;
  background-color: #EF5350;
  color: #FFF;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100%;
}

.type-card-header > img {
  margin: 0 10px;
  width: 50px;
}

.type-card-other-infos {
  color: #FFF;
  display: flex;
  flex-direction: column;
  margin: 15px auto;
}

.icons-damage-relation {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.type-card-damage-relation > h4 {
  margin: 10px;
}

.type-card-damage-relation > div > img {
  cursor: pointer;
  width: 40px;
}

.type-card-footer {
  align-self: flex-end;
}

#btn-type-details {
  align-items: center;
  background-color: #EF5350;
  border: 3px solid #100B00;
  border-radius: 8px;
  color: #FFF;
  display: flex;
  font-size: large;
  font-weight: 600;
  height: 40px;
  justify-content: center;
  margin: 10px 0;
  width: 130px;
}

@media screen and (max-width: 680px) {
  .type-card {
    height: auto;
    width: 200px;
  }
  .type-card-header {
    height: 40px;
  }

  .type-card-header > h3 {
    align-items: center;
    display: flex;
    font-size: medium;
  }
  
  .type-card-header > img {
    width: 20px;
  }

  .type-card-other-infos {
    margin: 10px auto;
  }

  .type-card-damage-relation > h4 {
    font-size: small;
    margin: 10px;
  }

  .type-card-damage-relation > div > img {
    cursor: pointer;
    width: 25px;
  }

  .icons-damage-relation > p {
    font-size: small;
  }

  #btn-type-details {
    font-size: small;
    font-weight: 600;
    height: 30px;
    justify-content: center;
    margin: 10px 0;
    width: 95px;
  }
}
