.type-card {
  align-items: space-between;
  background-color: #3B341F;
  border: 4px solid #100B00;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  justify-content: center;
  margin: 10px;
  text-align: center;
  width: 300px;
  overflow: hidden;
}


.type-card-header {
  align-items: center;
  align-self: flex-start;
  background-color: #EF5350;
  color: #FFF;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100%;
}

.type-card-header > img {
  margin: 0 10px;
  width: 50px;
}

.type-card-other-infos {
  color: #FFF;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 30px auto 10px auto;
}

.type-card-damage-relation {
  padding: 0 0 10px 0;
}

.type-card-damage-relation > h4 {
  padding: 0 0 10px 0;
}

.type-card-other-infos > .type-card-damage-relation > .type-card-type-icons > img {
  margin-bottom: 5px;
  width: 35px;
}
